{% load static %}

    <!--====== Trabalhos - começo ======-->

    <section id="certificados" class="work-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title pb-25">
                            <h2 class="title">Meus Certificados </h2>
                            <p>Minha jornada na área de tecnologia é marcada por um compromisso constante com o aprendizado e a busca por excelência. Essas certificações e formações acadêmicas demonstram meu comprometimento em me manter atualizado com as últimas tendências e tecnologias do mercado, além de minha capacidade de aplicar esses conhecimentos em projetos práticos e desafiadores.</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->  
            </div> <!-- row -->

            
            <!--Certificado Python-->
            
            <div class="row">

                {% for cert in certificados %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            <img width="360" height="360" src="{{ cert.capa.url }}" alt="work">
                        </div>
                        <div  class="work-overlay">
                            <div class="work-content">
                                <h3 style="color: black;"  class="work-title">
                                    {{ cert.titulo_certificado }}</h3>
                                <ul>
                                    <li ><a style="color: black;" class="image-popup"  href="{{ cert.imagem.url }}" data-title="{{  cert.titulo_certificado }}" >
                                    <i class="lni-plus"></i></a></li>

                                    <li><a style="color: black;" href="{{ cert.link }}"><i class="lni-link"></i></a></li>
                                </ul>
                                <p style="color:black;">{{ cert.descricao_breve }} </p>
                            </div>
                        </div>
                    </div> <!-- single work -->
                </div>
                {% endfor %}


            </div> <!-- row -->
            
            <!--BOTÃO PARA MAIS CERTIFICADOS, QUANDO TIVER E HÁ DE TER-->
            <!--<div class="row">
                <div class="col-lg-12">
                    <div class="work-more text-center mt-50">
                        <a class="main-btn" href="#">Mais Certificados</a>
                    </div> 
                </div>
            </div> -->
            

        </div> <!-- container -->
    </section>

    <!--====== Certificados - final ======-->
