{% load static %}

    <!--====== contate-me - começo ======-->

    <section id="contact" class="contact-area pt-125 pb-130 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-25">
                        <h2 class="title">Entre em Contato</h2>
                        <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis, urna est ultricies eros, ac porta sem turpis quis leo.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->

            <div class="row justify-content-center">
                <!--
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-map-marker"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">Address</h6>
                            <p>123 Stree New York City , United States Of America 750</p>
                        </div>
                    </div>  
                </div>
                -->

                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-whatsapp"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">WhatsApp</h6>
                            <p>(11) 96482:4753</p>
                        </div>
                    </div> <!-- contact box -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="contact-box text-center mt-30">
                        <div class="contact-icon">
                            <i class="lni-envelope"></i>
                        </div>
                        <div class="contact-content">
                            <h6 class="contact-title">E-mail</h6>
                            <p>bruno77_sr@hotmail.com</p>
                        </div>
                    </div> <!-- contact box -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form pt-30">
                        <form id="contact-form" action="{% static 'contact.php' %}">
                            <div class="single-form">
                                <input type="text" name="name" placeholder="Nome">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <input type="email" name="email" placeholder="E-mail">
                            </div> <!-- single form -->
                            <div class="single-form">
                                <textarea name="message" placeholder="Mensagem"></textarea>
                            </div> <!-- single form -->
                            <p class="form-message"></p>
                            <div class="single-form">
                                <button class="main-btn" type="submit">ENVIAR MENSAGEM</button>
                            </div> <!-- single form -->
                        </form>
                    </div> <!-- contact form -->
                </div>
                <div class="col-lg-6">
                    <div class="contact-map mt-60">
                        <div class="gmap_canvas">                            
                            <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14621.154028837796!2d-46.45701070346912!3d-23.629836749968938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce68d02f24ff81%3A0xb544b319e5e5bda0!2sAv.%20dos%20Sertanistas%20-%20Jardim%20Sao%20Francisco%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2008390-290!5e0!3m2!1spt-BR!2sbr!4v1741696381024!5m2!1spt-BR!2sbr" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div> <!-- contact map -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Contate-me - Final ======-->