{% load static %}

    <!--====== Trabalhos recentes ======-->

    <section id="work" class="work-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title pb-25">
                            <h2 class="title">Meus Projetos Recentes</h2>
                            <p>Aqui você encontrará uma seleção dos meus projetos de programação e gestão. Cada projeto é acompanhado de imagem, uma breve descrição e um link para o repositório no GitHub, onde você pode explorar o código-fonte e a documentação.</p>
                        </div> <!-- section title -->
                    </div>
                </div> <!-- row -->
            </div> <!-- row -->

            <div class="row">
                {% for projeto in projetos %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-work text-center mt-30">
                        <div class="work-image">
                            {% if projeto.capa %}
                                <img  width="360" height="360" src="{{ projeto.capa.url }}"  alt="{{ projeto.nome }}">

                            {% else %}
                                 <img width="360" height="360" src="{% static 'images/work/w-1.jpg' %}" alt="work">
                            {% endif %}
                        </div>
                        <div class="work-overlay">
                            <div class="work-content">
                                <h3 style="color: black;" class="work-title">{{ projeto.nome }}</h3>
                                <ul>
                                    <li>
                                        <a style="color: black;" class="meu-popup-novo" href="javascript:void(0)" 

                                            data-images= "{% for img in projeto.imagens.all %}{{  img.arquivo.url }}{% if not forloop.last %},{% endif %}{% endfor %}"

                                            data-title="{{ projeto.nome }}">
                                            <i class="lni-plus"></i>
                                         </a>
                                    </li>
                                    <li>
                                        <a style="color: black;" href="{{ projeto.link_github }}">
                                            <i class="lni-link"></i>
                                         </a>
                                    </li>
                                </ul>
                                <p style=" color:black;">{{ projeto.descricao_breve}}</p>
                            </div>
                        </div>
                    </div>
                </div>



                {% empty %}
                    <p class="text-center">Nenhum projeto encontrado no banco de dados.</p>
                
                {% endfor %}

                <div id="image-popup" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 1000;">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <div id="popup-images"></div>
                    <button id="close-popup" style="color: white; background-color: red; border: none; padding: 10px 20px; cursor: pointer;">Fechar</button>
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const imagePopupLinks = document.querySelectorAll('.meu-popup-novo');
                        const imagePopup = document.getElementById('image-popup');
                        const popupImages = document.getElementById('popup-images');
                        const closePopup = document.getElementById('close-popup');

                        imagePopupLinks.forEach(link => {
                            link.addEventListener('click', function(event) {
                                event.preventDefault();
                
                            const dataImages = this.getAttribute('data-images').trim();
                
                            if (!dataImages) return;

                            const images = dataImages.split(',')
                                .map(img => img.trim())
                                .filter(img => img !== ""); 

                            popupImages.innerHTML = ''; 

                            images.forEach(image => {
                                const img = document.createElement('img');
                                img.src = image; 
                                img.style.maxWidth = '100%'; 
                                img.style.marginBottom = '10px';
                                img.style.display = 'block';
                    
                                if (image.length > 5) {
                                    popupImages.appendChild(img);
                                }
                            });

                            imagePopup.style.display = 'block';
                        });
                    });

                    closePopup.addEventListener('click', function() {
                        imagePopup.style.display = 'none';
                    });

        
                    imagePopup.addEventListener('click', function(e) {
                        if (e.target === imagePopup) {
                            imagePopup.style.display = 'none';
                        }
                    });
                });
                </script>

            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Trabalhos recentes ======-->
