{% load static %}    
    <!--====== SERVICES PART START ======-->

    <section id="service" class="services-area gray-bg pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-30">
                        <h2 class="title" style="color: white;">Meus Serviços</h2>
                    </div> <!-- section title -->
                    <p>Ofereço soluções tecnológicas sob medida para impulsionar o seu projeto ou negócio. Com expertise em desenvolvimento e automação, garanto eficiência, desempenho e inovação em cada entrega. Se precisa de soluções digitais eficientes e personalizadas, estou pronto para transformar suas ideias em realidade! </p>
                </div>
            </div> <!-- row -->
            <wbr>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-vector"></i>
                            <!--<i class="lni-color-pallet"></i>-->
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#contact">APIs REST</a></h4>
                            <p>Interface que utiliza o protocolo HTTP. Desenvolvimento de lógica mais complexa, autenticação, integração com serviços externos, processamento de dados, entre outros.</p>
                        </div>
                    </div> <!-- single service -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-database"></i>
                           <!-- <i class="lni-vector"></i>
                            <i class="lni-mobile"></i>-->
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Modelagem e Gerenciamento de Banco de Dados</a></h4>
                            <p>Processo de estruturação de dados para garantir organização, eficiência e integridade. Utilizando SGBDs garanto a recuperação, segurança e desempenho dos dados.</p>
                        </div>
                    </div> <!-- single service -->
                </div>
                

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            
                            <i class="lni-website"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Desenvolvimento Web</a></h4>
                            <p>Desenvolvimento de sites e aplicações para a internet. Aplicações de conteúdo estático ou dinâmico, utilizando Python e Django.</p>
                        </div>
                    </div> <!-- single service -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-cog"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Automação e Scripts</a></h4>
                            <p>Uso de tecnologia para executar tarefas repetitivas sem intervenção manual, aumentando eficiência, produtividade e reduzindo erros.</p>
                        </div>
                    </div> <!-- single service -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-pencil"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Gestão de Software</a></h4>
                            <p>Com métodos ágeis o desenvolvimento de software prioriza a flexibilidade, colaboração e entregas contínuas. Utilizando de métodos que garantem maior eficiência e qualidade nos projetos.</p>
                        </div>
                    </div> <!-- single service -->
                </div>

                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="lni-lock"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#">Segurança e Performance</a></h4>
                            <p>Métodos de segurança são cruciais para garantir a robustez e a confiabilidade da sua aplicação. Utilizando autenticação, autorização, proteção contra ataques, entre outras práticas.</p>
                        </div>
                    </div> <!-- single service -->
                </div>

            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== SERVICES PART ENDS ======-->
