{% load static %}    
    <!--====== SERVICES PART START ======-->

    <section id="service" class="services-area gray-bg pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-30">
                        <h2 class="title" style="color: white;">Meus Serviços</h2>
                    </div> <!-- section title -->
                    <p>Ofereço soluções tecnológicas sob medida para impulsionar o seu projeto ou negócio. Com expertise em desenvolvimento e automação, garanto eficiência, desempenho e inovação em cada entrega. Se precisa de soluções digitais eficientes e personalizadas, estou pronto para transformar suas ideias em realidade! </p>
                </div>
            </div> <!-- row -->
            <wbr>

            <div class="row justify-content-center">
                
                {% for hab in habilidades %}
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-service text-center mt-30">
                        <div class="service-icon">
                            <i class="{{ hab.icone }}"></i>
                        </div>
                        <div class="service-content">
                            <h4 class="service-title"><a href="#contact">{{ hab.titulo_hab }}</a></h4>
                            <p>{{ hab.descricao_breve }}</p>
                        </div>
                    </div> 
                </div>
                {% endfor %}

                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== SERVICES PART ENDS ======-->
