{% load static %}
<!--====== Sobre mim - começo ======-->

    <section id="about" class="about-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">Sobre mim</h2>
                    </div> 
                    <h5 class="about-title" style="color: rgb(250, 154, 154);">Experiências & Competências</h5>
                    <p>Sou formado em Análise e Desenvolvimento de Sistemas e Técnico em TI, com dois anos de experiência como desenvolvedor autônomo. Meu foco é o Back-End, utilizando Python, Django, MySQL e PostgreSQL para criar aplicações web eficientes.

                        Tenho conhecimento básico em HTML, CSS e JavaScript e aplico metodologias ágeis nos meus projetos. Estou sempre em constante aprendizado, buscando aprimorar minhas habilidades e explorar novas tecnologias.</p>
                    
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50">
                        <h5 class="about-title" style="color: rgb(250, 154, 154);">Olá! Sou o Bruno</h5>
                        <p>  É um prazer apresentar-me a vocês. Sou uma pessoa dedicada, organizada e comunicativa, características que me ajudam a enfrentar desafios com eficiência e a trabalhar bem em equipe. Além disso, tenho um rápido aprendizado, o que me permite adaptar-me facilmente a novas situações e adquirir novas competências com agilidade.

                            Atualmente, sou solteiro e, no meu tempo livre, sou muito ligado ao mundo geek, um universo que me fascina pela inovação, criatividade e tecnologia. Outra grande paixão que faz parte da minha vida é a música eletrónica, um género que me inspira e me motiva diariamente.
                            <br>
                            <br>
                            Obrigado pela atenção!
                        </p>
                        <ul class="clearfix">
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-calendar"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Data de Nascimento:</span> 27 de Junho de 1997</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-envelope"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>E-mail:</span> bruno77_sr@hotmail.com</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-whatsapp"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>WhatsApp:</span> 11 96482:4753</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                            <li>
                                <div class="single-info d-flex align-items-center">
                                    <div class="info-icon">
                                        <i class="lni-map-marker"></i>
                                    </div>
                                    <div class="info-text">
                                        <p><span>Localização:</span> ZL - São Paulo, SP - Brasil</p>
                                    </div>
                                </div> <!-- single info -->
                            </li>
                        </ul>
                    </div> <!-- about content -->
                </div>

                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <wbr>
                    <div class="about-skills pt-25">
                        <h5 class="about-title" style="color: rgb(250, 154, 154);">Habilidades</h5>
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title" style="color: #d9d9d9;">Python</h6>
                                <div class="skill-percentage" >
                                    <div class="count-box counted">
                                        <span class="counter" >85</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="85"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title" style="color: #d9d9d9;">Django</h6>
                                <div class="skill-percentage" >
                                    <div class="count-box counted">
                                        <span class="counter" >70</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="70"></div>
                                </div>
                            </div>
                            <div class="skill-item mt-25">
                                <div class="skill-header">
                                    <h6 class="skill-title" style="color: #d9d9d9;" >Métodos Ágeis</h6>
                                    <div class="skill-percentage" >
                                        <div class="count-box counted">
                                            <span class="counter" >70</span>
                                        </div>
                                        %
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70"></div>
                                    </div>
                                </div>
                            </div> 
                        </div> <!-- skill item -->
                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title" style="color: #d9d9d9;">MySQL/PostgreSQL</h6>
                                <div class="skill-percentage" >
                                    <div class="count-box counted">
                                        <span class="counter" >60</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="60"></div>
                                </div>
                            </div>
                        </div> <!-- skill item -->

                        <div class="skill-item mt-25">
                            <div class="skill-header">
                                <h6 class="skill-title" style="color: #d9d9d9;">HTML/CSS/JS</h6>
                                <div class="skill-percentage" >
                                    <div class="count-box counted">
                                        <span class="counter" >50</span>
                                    </div>
                                    %
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="50"></div>
                                </div>
                            </div>
                        </div> 
                        
                        
                        <!-- skill item -->
                    </div> <!-- about skills -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        

    </section>

    <!--====== Sobre mim - final ======-->
